.hide {
    display: none;
}

.recipes-container {
    padding: 16px 0;
}

.recipe-card {
    padding: 0 16px;
}

.recipe-add {
    position: absolute;
    top: 20px;
    right: 20px;
}

#new-recipe-btn {
    background: #38E07A;
    color: white;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#main-content {
    flex: 1 1 auto;
}

.recipe-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    height: 80px;
    width: 90%;
    margin: 0 auto;
}

i.fa-solid.fa-list {
    font-size: 25px;
    background: #F0F5F2;
    padding: 17px;
    border-radius: 8px;
    color: #638773;
}

i.fa-solid.fa-ellipsis {
    width: 40px;
}

h3.recipe-title {
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-top: 20px;
    color: #434343;
}

.recipe-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

div#instructions-container {
    padding: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.2px;
    box-sizing: border-box;
}

textarea#instructions-input {
    overflow: auto;
    width: 100%;
    height: 150px;
    box-sizing: border-box;
}

div#ingredients-container {
    padding: 16px;
}

h2.ingredients-title,
h2.instructions-title {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.2px;
}

h1.recipe-title {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    letter-spacing: 0.2px;
    font-weight: 700;
    text-align: center;
    max-width: 70%;
    margin: 0 auto;
}

.ingredient-item {
    display: flex;
    gap: 12px;
    align-items: center;
}

span.ingredient-name {
    font-size: 16px;
    letter-spacing: 0.2px;
}

.ingredient-content {
    display: flex;
    flex-direction: column;
    line-height: 24px;
    flex: 1;
}

input.ingredient-selector {
    width: 25px;
    height: 25px;
    border: 2px solid #DBE5DE;
    appearance: none;
    border-radius: 5rem;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

input.ingredient-selector:checked {
    background-color: #38E07A;
    border-color: #38E07A;
}

input.ingredient-selector:checked::before {
    content: "\f00c";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
}

li {
    border: none;
    padding: 12px 0;
}

span.ingredient-instructions {
    display: flex;
    font-size: 14px;
    font-weight: 300;
    color: #B8B8B8;
}

#instructions-input {
    width: 100%;
    min-height: 150px;
    padding: 10px;
    resize: vertical;
    white-space: pre-wrap;
    line-height: 1.5;
}

#instructions-content {
    white-space: pre-wrap;
    line-height: 1.5;
    text-align: justify;
}

.recipe-header-info {
    margin-top: 20px;
}

i.fa-solid.fa-arrow-left#back-btn {
    font-size: 20px;
    cursor: pointer;
    color: #434343;
    margin-left: 20px;
}

.ingredients-list-container,
.instructions-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

i.fa-solid.fa-pen.edit-ingredients,
i.fa-solid.fa-pen.edit-instructions {
    color: #648773;
    display: flex;
    flex-direction: row-reverse;
}

i.fa-solid.edit-instructions.fa-check,
i.fa-solid.edit-ingredients.fa-check {
    color: #648773;
    font-size: 18px;
}