.hide {
    display: none;
}

.recipes-container {
    padding: 16px 0;
}

.recipe-card {
    padding: 0 16px;
}

.recipe-add {
    position: absolute;
    top: 20px;
    right: 20px;
}

#new-recipe-btn {
    background: #38E07A;
    color: white;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#main-content {
    flex: 1 1 auto;
}

.recipe-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    height: 80px;
    width: 90%;
    margin: 0 auto;
}

i.fa-solid.fa-list {
    font-size: 25px;
    background: #F0F5F2;
    padding: 17px;
    border-radius: 8px;
    color: #638773;
}

i.fa-solid.fa-ellipsis {
    width: 40px;
}

h3.recipe-title {
    font-weight: 600;
    letter-spacing: 0.5px;
}

.recipe-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.skeleton-item {
    animation: loading 1.5s infinite;
    background: #f0f0f0;
    border-radius: 4px;
    margin: 10px 0;
}

.skeleton-checkbox {
    width: 20px;
    height: 20px;
    background: #e0e0e0;
    border-radius: 4px;
}

.skeleton-title {
    height: 20px;
    width: 200px;
    background: #e0e0e0;
    margin-bottom: 8px;
}

.skeleton-description {
    height: 16px;
    width: 300px;
    background: #e0e0e0;
}

@keyframes loading {
    0% {
        opacity: 0.6;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.6;
    }
}